@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Below are technologies and patterns used in this application
    1. Entity Framework 6.1.3 - Code first
    2. ASP.NET MVC 5.2.3
    3. Jquery 3.1
    4. Dependency Injection
    5. Unity pattern for Inversion of Control
    6. UnityDependencyResolver to resolve repository instances
    7. HTML 5
    8. CSS 3
    9. Classes are loosely coupled using interfaces
    10. AngularJS 1.5    
</p>
