
@{
    ViewBag.Title = "Angular People Search";
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}
<div class="jumbotron">
    <h1>People Search using AngularJS</h1>
</div>
<people-form></people-form>
