@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sameer Wanwey<br />
    West Valley City, UT-84119<br />
    <abbr title="Phone">P:</abbr>
    801-358-2913
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sameer.wanwey@gmail.com">sameer.wanwey@gmail.com</a><br />
</address>